<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uco.presentacionycanciones">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/tituloCanciones"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PresentacionyCanciones">
        <activity android:name=".CancionActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/tituloAplicacion"
            android:theme="@style/Theme.PresentacionyCanciones.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>